{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Albums</title>
</head>

<body class="container">
    <h1>My Album Collection</h1>
    <div class="row">
        {% for album in albums %}
        <div class="card medium col s2 m6 l4 center-align">
            <div class="card-image">
                {% if album.cover %}
                <img src="{{ album.cover.url }}" alt="{{ album.title }}">
            </div>
            <div class="card-content">
                <p>{{ album }} | {{ album.artist }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>